<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container fluid text-center">
    <div class="m-2"><a class="h3" th:href="@{/history/new}">Добавить новую валюту</a></div>
    <div><h2>Список валют</h2></div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Название</th>
                    <th>Стоимость</th>
                    <th>Время</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="currency : ${currencies}">
                <tr>
                    <td><p th:text="${currency.asset_id}"></p></td>
                    <td><p th:text="${currency.price_usd}"></p></td>
                    <td><p th:text="${currency.data_end}"></p></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<a th:href="@{/mainPage}">Главная</a>
</body>
</html>