<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto-leti</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
        type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript">
    const request = new XMLHttpRequest();
    const url = "http://localhost:8080/getCurrencyForGrafik";
    var dat1 = [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4];
    request.open('GET', url);
    request.setRequestHeader('Content-Type', 'application/x-www-form-url');
    request.addEventListener("readystatechange", () => {
        if (request.readyState === 4 && request.status === 200) {
            dat1 = request.responseText;
        }
    });
    // Выполняем запрос
    request.send();

    
    var chart1;
    $(document).ready(function(){
        chart1 = new Highcharts.Chart({
            chart: {renderTo: 'container1'},
            series: [{data: dat1}]
        });
    });

    function convert(){
        // let xhr = new XMLHttpRequest();
        // let url = "http://localhost:8080/history/saveJSON";
        // xhr.open("POST", url, true);
        // xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        // xhr.send(jsonString);
    }

    //****************************************************************************


</script>

<body>
    Тестовая запись
    <a href="http://localhost:8080/">Таблица</a>

    <!--    ***********************************************-->

    <div>
        <p>Калькулятор и конвертер криптовалют</p>

        <div class="border border-secondary rounded p-3">

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_coins" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Coin
                </button>
                <button onclick="sendJSON()" class="btn btn-primary m-2">Конвертировать</button>

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_coins" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Coin
                </button>
                <div id="menu" class="dropdown-menu" aria-labelledby="dropdown_coins">
                    <form class="px-4 py-2">
                        <input type="search" class="form-control" id="searchCoin" placeholder="BTC" autofocus="autofocus">
                    </form>
                    <div id="menuItems"></div>
                    <div id="empty" class="dropdown-header">No coins found</div>
                </div>
            </div>

            <p>РЕЗУЛЬТАТ</p>
        </div>

    </div>

    <!--    ***********************************************-->
</body>
</html>

<script type="text/javascript">

    //Initialize with the list of symbols
    let names = ["BTC","XRP","ETH","BCH","ADA","XEM","LTC","XLM","TRX",,"BNB","KCS","ARK","PC","MOD","LBC","THC","LA","DCT"]

    //Find the input search box
    let search = document.getElementById("searchCoin")

    //Find every item inside the dropdown
    let items = document.getElementsByClassName("dropdown-item")
    function buildDropDown(values) {
        let contents = []
        for (let name of values) {
            contents.push('<input type="button" class="dropdown-item" type="button" value="' + name + '"/>')
        }
        $('#menuItems').append(contents.join(""))

        //Hide the row that shows no items were found
        $('#empty').hide()
    }

    //Capture the event when user types into the search box
    window.addEventListener('input', function () {
        filter(search.value.trim().toLowerCase())
    })

    //For every word entered by the user, check if the symbol starts with that word
    //If it does show the symbol, else hide it
    function filter(word) {
        let length = items.length
        let collection = []
        let hidden = 0
        for (let i = 0; i < length; i++) {
            if (items[i].value.toLowerCase().startsWith(word)) {
                $(items[i]).show()
            }
            else {
                $(items[i]).hide()
                hidden++
            }
        }

        //If all items are hidden, show the empty view
        if (hidden === length) {
            $('#empty').show()
        }
        else {
            $('#empty').hide()
        }
    }

    //If the user clicks on any item, set the title of the button as the text of the item
    //$(".hlk1").click(function ()
    $('#menuItems').click('click', '.dropdown-item', function(){
        $('#dropdown_coins').text($(this)[0].value)
        $("#dropdown_coins").dropdown('toggle');
    })

    buildDropDown(names)
</script>
