<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto-leti</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
        type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript">
    const request = new XMLHttpRequest();
    const url = "http://localhost:8080/getCurrencyForGrafik";
    var dat1 = [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4];
    request.open('GET', url);
    request.setRequestHeader('Content-Type', 'application/x-www-form-url');
    request.addEventListener("readystatechange", () => {
        if (request.readyState === 4 && request.status === 200) {
            dat1 = request.responseText;
        }
    });
    // Выполняем запрос
    request.send();

    
    var chart1;
    $(document).ready(function(){
        chart1 = new Highcharts.Chart({
            chart: {renderTo: 'container1'},
            series: [{data: dat1}]
        });
    });
</script>
<body>
    Тестовая запись
</body>
</html>